Hey there! It's nice that you've found my Coursera-Capstone project!

In [95]:
import pandas as pd
import numpy as np

In [96]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [97]:
print("This is a test")

This is a test

In [98]:
# for performing your HTTP requests
import requests  

# for xml & html scrapping 
from bs4 import BeautifulSoup 

# for table analysis
import pandas as pd

# write to csv
import csv

# Time
import time

#Visuals
import matplotlib.pyplot as plt

In [99]:
# url of wikipedia page from which you want to scrap tabular data.
url1 = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [100]:
s = requests.Session()
response = s.get(url1, timeout=10)
#response2 = s.get(url2, timeout=5)
response

In [101]:
soup = BeautifulSoup(response.content, 'html.parser')

In [102]:
pretty_soup = soup.prettify()

In [103]:
soup.title.string

'List of postal codes of Canada: M - Wikipedia'

In [104]:
all_tables=soup.find_all('table')

In [105]:
right_table=soup.find('table', {"class":'wikitable sortable'})

In [106]:
# Number of columns in the table
for row in right_table.findAll("tr"):
    cells = row.findAll('td')

len(cells)

3

In [107]:
# number of rows in the table including header
rows = right_table.findAll("tr")
len(rows)

181

In [108]:
header = [th.text.rstrip() for th in rows[0].find_all('th')]
print(header)
print('------------')
print(len(header))

['Postal Code', 'Borough', 'Neighbourhood']
------------
3

In [109]:
# extract the data of each column
c1 = []
c2 = []
c3 = []
for row in rows[1:]:
            data = [d.text.rstrip() for d in row.select('td')]
            c4.append(data[0])
            c5.append(data[1])
            c6.append(data[2])

In [110]:
# create a dictionary
d = dict([(x,0) for x in header])
d


d['Postal Code'] = c4
d['Borough']= c5
d['Neighbourhood']=c6

In [111]:
df_table = pd.DataFrame(d)

# Top 5 records
df_table.head(5)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [112]:
df_table.dtypes

print(df_table.shape)

(540, 3)

In [113]:

indexNames = df_table[ df_table['Borough'] == "Not assigned" ].index
# Delete these row indexes from dataFrame
df_table.drop(indexNames , inplace=True)

df_table.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [114]:
df_table.shape

(309, 3)

In [115]:
indexNames2 = df_table[ df_table['Neighbourhood'] == "Not assigned" ].index
# Delete these row indexes from dataFrame
df_table.drop(indexNames2 , inplace=True)

df_table.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [116]:
df_table.shape

(309, 3)

In [117]:
df_table

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
520,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
525,M4Y,Downtown Toronto,Church and Wellesley
528,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
529,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
538,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."